<div class="content-wrapper-list-item" >
<div class="list-item lang-font" lang="{{ langswitcher.current }}">
    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width = page.header.header_image_width|defined(900) %}
    {% set header_image_height = page.header.header_image_height|defined(300) %}
    {% set header_image_file = page.header.header_image_file %}

    <div class="list-blog-header">

        <div class="list-blog-svg_icon">
            {% if not page.header.svg_icon is same as(empty) %}
            {% include 'partials/svg_icons/svg_icon-' ~ page.header.svg_icon ~ '.html.twig' %}
            {% endif %}
        </div>

        <div class="list-blog-date">
            <p><span>{{ page.date|date("j")|t }}</span>{% if langswitcher.current == 'fr' or langswitcher.current == 'en' %}<sup>{{ page.date|date("S")|t }}</sup>{% else %}日{% endif %}<i class="fa fa-calendar-o fa-2x"></i></p>
            <p>{{ page.date|date("M")|t }}{% if langswitcher.current == 'fr' or langswitcher.current == 'en' %}.{% endif %}</p>
            <p>{{ page.date|date("Y")|t }}</p>
        </div>
        {% if page.header.link %}
            <h2>
                {% if page.header.continue_link is not sameas(false) %}
                <a href="{{ page.url }}"><i class="fa fa-angle-double-right"></i></a>
                {% endif %}
                <a href="{{ page.header.link }}" lang="{{ langswitcher.current }}">{{ page.title }}</a>
            </h2>
        {% else %}
            <h2><a href="{{ page.url }}" lang="{{ langswitcher.current }}">{{ page.title }}</a></h2>
        {% endif %}

        {% if page.taxonomy.tag %}
        <span class="tags">
            {% for tag in page.taxonomy.tag %}
            <a href="{{ blog.url }}/tag{{ config.system.param_sep }}{{ tag }}" class="lang-font" lang="{{ langswitcher.current }}">{{ tag }}</a>
            {% endfor %}
        </span>
        {% endif %}
        {% if header_image %}
            {% if header_image_file %}
                {% set header_image_media = page.media.images[header_image_file] %}
            {% else %}
                {% set header_image_media = page.media.images|first %}
            {% endif %}
            {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
        {% endif %}
    </div>

    <div id="body-blog-item" class="list-blog-padding lang-font" lang="{{ langswitcher.current }}">

    {% if not blog_image and page.header.base64_itembackground %}
    {% include 'partials/itembackgrounds/itembackground-' ~ page.header.base64_itembackground ~ '-svg.html.twig' %}
    {% include 'partials/itembackgrounds/itembackground_base64-script.html.twig' %}
    {% endif %}

    {% if page.header.continue_link is sameas(false) %}
        {{ page.content }}
        {% if not truncate %}
        {% set show_prev_next = true %}
        {% endif %}
    {% elseif truncate and page.summary != page.content %}
        {{ page.summary }}
        <li><span id="ondule-svg">{% include 'partials/ondule.html.twig' %}</span><span id="blog-item-continue" class="tags"><a href="{{ page.url }}" class="lang-font" lang="{{ langswitcher.current }}">{{ 'BLOG_ITEM_CONTINUE'|t }}</a></span></li>
    {% elseif truncate %}
        {% if page.summary != page.content %}
            {{ page.content|truncate(550) }}
        {% else %}
            {{ page.content }}
        {% endif %}
        <div>{% include 'partials/ondule.html.twig' %}<span id="blog-item-continue lang-font" class="tags"><a href="{{ page.url }}" lang="{{ langswitcher.current }}">{{ 'BLOG_ITEM_CONTINUE'|t }}</a></span></div>
    {% else %}
        {{ page.content }}
        {% set show_prev_next = true %}
    {% endif %}
    <div id="blog-item-footer">{{ stars(page.route) }} {% if (page.content|readingtime({'format': '{minutes_short_count}'}) ) > '1' %}{% include 'partials/stopwatch.html.twig' %}{{ page.content|readingtime({'format': '{minutes_short_count}'}) }} {{ 'MINUTE'|t }}{% if (page.content|readingtime({'format': '{seconds_short_count}'}) ) > '30' %} 30'{% endif %}{% endif %}</div></div>
    {% if show_prev_next %}

        <p class="prev-next">
            {% if not page.isFirst %}
                <a class="button" href="{{ page.nextSibling.url }}" class="lang-font" lang="{{ langswitcher.current }}"><i class="fa fa-chevron-left"></i>{{ 'BLOG_ITEM_NEXT'|t }}</a>
            {% endif %}

            {% if not page.isLast %}
                <a class="button" href="{{ page.prevSibling.url }}" class="lang-font" lang="{{ langswitcher.current }}">{{ 'BLOG_ITEM_PREVIOUS'|t }}<i class="fa fa-chevron-right"></i></a>
            {% endif %}
        </p>
    {% endif %}
    
</div>
</div>