{% set langobj = grav['language'] %}
        <li id="langswitcher" class="active"><a class="navigation" href="{{ page.url }}">{{  native_name(langswitcher.current) }} <i class="fa fa-caret-down fa-lg"></i></a>
            <ul>
            {% for key in langswitcher.languages %}
                {% if key == langswitcher.current %}
                    {% set lang_url = page.url %}
                    {% set active_class = 'active' %}
                {% else %}
                    {% set lang_url = base_url_simple ~ langobj.getLanguageURLPrefix(key)~langswitcher.page_route ?: '/' %}
                    {% set active_class = '' %}
                    <li><a href="/blog{{ lang_url ~ uri.params }}" class="{{ active_class }} external">{{  native_name(key) }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </li>