{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        <li class="{{ current_page }}">
            <a href="{{ p.url }}">
                {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                {{ p.menu }}
                {% if p.children.visible.count > 0 %}<i class="fa fa-caret-down fa-lg"></i>{% endif %}
            </a>
            {% if p.children.visible.count > 0 %}
                <ul>
                    {{ _self.loop(p) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<ul class="navigation">
    {% if theme_config.dropdown.enabled %}
        {{ _self.loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li class="{{ current_page }}">
                <a href="{{ page.url }}">
                    {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                    {{ page.menu }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <li>
            <a href="{{ mitem.url }}">
                {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                {{ mitem.children.visible }}
            </a>
        </li>
    {% endfor %}
    {% if config.plugins.login.enabled and grav.user.username %}
        <li><i class="fa fa-lock"></i>{% include 'partials/login-status.html.twig' %}</li>
    {% endif %}
    {% if config.plugins.feed.enabled and not page.header.feed.enabled is same as (false) %}
            <li id="syndication"><a class="navigation"><i class="fa fa-rss" title="Syndication"></i></a>
                <ul>
                    <li><a href="/blog/{{ langswitcher.current }}/home.atom" class="navigation"></i>Atom 1.0</a></li>
                    <li><a href="/blog/{{ langswitcher.current }}/home.rss" class="navigation"></i>Rss</a></li>
                </ul>
            </li>  
    {% endif %}
    {% if config.plugins.simplesearch.enabled and not page.header.simplesearch.enabled is same as (false) %}
        <li id="search_nav"><a class="navigation"><i class="fa fa-search"></i></a>
            <ul> {% include 'partials/simplesearch_searchbox.html.twig' %}</ul>
        </li>
    {% endif %}
    {% if config.plugins.langswitcher.enabled and not page.header.langswitcher.enabled is same as (false) %}
            {% include 'partials/navbar_langswitcher.html.twig' %}     
    {% endif %}
</ul>

