{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

{% if config.plugins.simplesearch.enabled %}
<div class="sidebar-content">
    <h4> {{  'SIMPLE_SEARCH'|t  }} </h4>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}
{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
    <h4> {{  'RELATED_POSTS'|t  }} </h4>
    {% include 'partials/relatedpages.html.twig' %}
{% endif %}
{% if config.plugins.random.enabled %}
<div class="sidebar-content">
	<h4> {{  'RANDOM_ARTICLE'|t  }} </h4>
	<a class="button" href="{{ base_url }}/random"><i class="fa fa-retweet"></i> {{  'FEELING_LUCKY'|t  }} </a>
</div>
{% endif %}
<div class="sidebar-content">
	<h4> {{  'SOME_TEXT_WIDGET'|t  }} </h4>
    <div class="sidebar-content recent-posts">
    {% for p in taxonomy.findTaxonomy({'category':['blog', page.language]}).order('date', 'desc').slice(0, 5) %}
        {% set bannerimage = p.media['banner.jpg'] %}
        <div class="recent-post">
            {% if bannerimage %}
                <div class="recent-post-image"><a href="{{p.url}}">{{ bannerimage.cropZoom(60,60).quality(60) }}</a></div>
            {% else %}
                <div class="recent-post-image"><img src="{{ url('theme://images/favicon.png') }}" width="60" height="60"></div>
            {% endif %}
            <div class="recent-post-text">
                <h4><a href="{{p.url}}">{% if p.header.title2 %}{{ p.header.title2 }}{% else %}{{ p.title }}{% endif %}</a></h4>
                <p>{% if page.language == 'fr' %}
                        {{ p.date|date("j")}}<sup>{{ p.date|date("S")|t }}</sup>{{ p.date|date("M")|t|lower}}. {{ p.date|date("Y")}}
                    {% elseif page.language == 'ja' %}
                        {{ p.date|date("Y")}}年{{ p.date|date("M")|t}}{{ page.date|date("j")|t }}日
                    {% else %}
                        {{ p.date|date("M j")}}<sup>{{ p.date|date("S")}}</sup>, {{ p.date|date("Y")}}
                    {% endif %}</p>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% if config.plugins.taxonomylist.enabled %}
<div class="sidebar-content">
    <h4> {{  'POPULAR_TAGS'|t  }} </h4>
    {% include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'tag'} %}
</div>
{% endif %}
{% if config.plugins.archives.enabled %}
<div class="sidebar-content">
    <h4> {{  'ARCHIVES_TEXT'|t  }} </h4>
	{% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
</div>
{% endif %}
{% if config.plugins.feed.enabled %}
<div class="sidebar-content syndicate">
    <h4> {{  'SYNDICATE'|t  }} </h4>
    <a class="button" href="{{ feed_url }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
    <a class="button" href="{{ feed_url }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
</div>
{% endif %}